
/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
}

/*
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width:100%;
}

.carousel-item>img{
    padding-top:60px;
    max-height: 750px !important;
    overflow: hidden;
    border-bottom: 3px solid #ff9848;
}

.carousel-indicators li
{

    background-color:#146eb4;
    width:12px;
    height:12px;
    border-radius:12px;
    border: 5px solid #ff9848;

}

.btn-orange
{
    background:#ff9848;
    color:white;
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: 10px;
    top: 70%;
    max-width: 100%;
    text-align: center;
    /*background:rgba(218,200,1,0.3);*/
    background:rgba(0,0,0,0.3) !important;
//border:1px solid #FFEA00;
    border-radius: 5px;
}

/* Navbar links */
.navbar-light .navbar-nav .nav-link
{
    color:white;
    border: 3px solid #ff9848;
}

.fixed-top
{
    background: #00a3e8;
    border-bottom: 4px solid #ff9848;
}

.navbar-light .navbar-brand:hover
{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    outline-color:  #ff9848;
}

.navbar-light .navbar-brand
{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    outline-color:  #ff9848;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:white;
    background:#ff9848;
}

.navbar-light .navbar-nav .nav-link
{
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.navbar-light .navbar-nav .nav-link:before
{
    height: 2px;
    width: 100%;
    background: #00a3e8;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background:black !important;
    border-top: 3px solid #ff9848;

}